.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 20px;
  justify-items: center;
  align-items: center;
  width: fit-content;
}
.grid-item {
  background-color: transparent;
  width: 5em;
  height: 5em;
  margin: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
}

.showing {
  background: rgb(180, 224, 241);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  animation: show 2s;
  animation-fill-mode: forwards;
}

.noShowing {

  border: 1px solid rgba(0, 0, 0, 0.8);
  background: rgb(53, 85, 161);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  animation-fill-mode: forwards;
  animation: hide 2s;

}

@keyframes show {
  from {
    transform: rotateX(180deg);
    color: transparent;
  }
  0% {background:  rgb(53, 85, 161); }
  20% {background: rgb(53, 85, 161); }
  50% {background: rgb(180, 224, 241);color: transparent}
  to {
    transform: rotateX(0);
  }
}


@keyframes hide {
  from {
    transform: rotateX(-180deg);
    color: black;
  }
  0% {background:  rgb(180, 224, 241); }
  20% {background: rgb(180, 224, 241); }
  50% {background: rgb(53, 85, 161);color: transparent}

  to {
    transform: rotateX(0);
  }
}